<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css" />
    <!-- Custom CSS -->
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/fonts-new.css" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body class="grey-bg">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-section">
                        <h2 class="h2 mb-3">Add new customer</h2>
                        <div class="custom-nav-tabs">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item active">
                                    <a class="nav-link active" href="#tab1" data-toggle="tab" aria-controls="tab1" aria-selected="true">
                                        <div class="image-nav-tabs">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="48" viewBox="0 0 44 48" fill="none">
                                                <path d="M27.7094 18.5248C26.2656 18.0279 25.45 17.6904 25.3094 16.6123C26.8656 15.5529 27.8781 13.7717 27.8781 11.756V8.8498C27.8781 5.60605 25.2437 2.97168 22 2.97168C18.7563 2.97168 16.1219 5.60605 16.1219 8.8498V11.7467C16.1219 13.7623 17.1437 15.5435 18.6906 16.6029C18.55 17.681 17.725 18.0185 16.2906 18.5154C14.5469 19.1154 12.1562 19.9498 12.1562 23.5592V26.006C12.1562 26.3904 12.475 26.7092 12.8594 26.7092H31.1406C31.525 26.7092 31.8438 26.3904 31.8438 26.006V23.5592C31.8438 19.9592 29.4531 19.1342 27.7094 18.5248ZM17.5281 11.756V8.8498C17.5281 6.38418 19.5344 4.37793 22 4.37793C24.4656 4.37793 26.4719 6.38418 26.4719 8.8498V11.7467C26.4719 14.2123 24.4656 16.2185 22 16.2185C19.5344 16.2279 17.5281 14.2217 17.5281 11.756ZM30.4375 25.3123H13.5625V23.5685C13.5625 20.9529 15.0437 20.4467 16.75 19.856C18.0156 19.4154 19.5344 18.8904 19.9844 17.2779C20.6125 17.5029 21.2875 17.6342 22 17.6342C22.7031 17.6342 23.3875 17.5123 24.0156 17.2779C24.4656 18.8904 25.9937 19.4154 27.25 19.856C28.9562 20.4467 30.4375 20.9623 30.4375 23.5685V25.3123Z" fill="#2B58BC" />
                                                <path d="M40.9844 4.37813H34.6562V2.10938C34.6562 0.946875 33.7094 0 32.5469 0H11.4531C10.2906 0 9.34375 0.946875 9.34375 2.10938V8.59687H3.01562C1.85313 8.59687 0.90625 9.54375 0.90625 10.7062V45.8906C0.90625 47.0531 1.85313 48 3.01562 48H26.9219C28.0844 48 29.0312 47.0531 29.0312 45.8906V45.1875H36.7656C37.9281 45.1875 38.875 44.2406 38.875 43.0781V39.5625H40.9844C42.1469 39.5625 43.0938 38.6156 43.0938 37.4531V6.4875C43.0938 5.325 42.1469 4.37813 40.9844 4.37813ZM27.625 45.8906C27.625 46.275 27.3062 46.5938 26.9219 46.5938H3.01562C2.63125 46.5938 2.3125 46.275 2.3125 45.8906V10.7062C2.3125 10.3219 2.63125 10.0031 3.01562 10.0031H9.34375V27.4219C9.34375 28.5844 10.2906 29.5312 11.4531 29.5312H27.625V45.8906ZM37.4688 43.0781C37.4688 43.4625 37.15 43.7812 36.7656 43.7812H29.0312V39.5625H37.4688V43.0781ZM41.6875 37.4531C41.6875 37.8375 41.3688 38.1562 40.9844 38.1562H29.0312V33.75H38.1719C38.5563 33.75 38.875 33.4313 38.875 33.0469C38.875 32.6625 38.5563 32.3438 38.1719 32.3438H29.0312V29.5312H38.1719C38.5563 29.5312 38.875 29.2125 38.875 28.8281C38.875 28.4438 38.5563 28.125 38.1719 28.125H34.5344C34.6094 27.9094 34.6562 27.6656 34.6562 27.4219V25.3125H38.1719C38.5563 25.3125 38.875 24.9937 38.875 24.6094C38.875 24.225 38.5563 23.9062 38.1719 23.9062H34.6562V21.0938H38.1719C38.5563 21.0938 38.875 20.775 38.875 20.3906C38.875 20.0063 38.5563 19.6875 38.1719 19.6875H34.6562V16.875H38.1719C38.5563 16.875 38.875 16.5562 38.875 16.1719C38.875 15.7875 38.5563 15.4688 38.1719 15.4688H34.6562V12.6562H38.1719C38.5563 12.6562 38.875 12.3375 38.875 11.9531C38.875 11.5688 38.5563 11.25 38.1719 11.25H33.9531C33.5687 11.25 33.25 11.5688 33.25 11.9531V27.4219C33.25 27.8062 32.9313 28.125 32.5469 28.125H11.4531C11.0688 28.125 10.75 27.8062 10.75 27.4219V2.10938C10.75 1.725 11.0688 1.40625 11.4531 1.40625H32.5469C32.9313 1.40625 33.25 1.725 33.25 2.10938V9.14062C33.25 9.525 33.5687 9.84375 33.9531 9.84375C34.3375 9.84375 34.6562 9.525 34.6562 9.14062V5.78438H40.9844C41.3688 5.78438 41.6875 6.10312 41.6875 6.4875V37.4531Z" fill="#2B58BC" />
                                            </svg>
                                        </div>
                                        <div class="content-nav">
                                            STEP 1
                                            <h6>Basic information</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab2" data-toggle="tab" aria-controls="tab2" aria-selected="false">
                                        <div class="image-nav-tabs">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                                                <path d="M10.9316 24.1215H12.7409C13.4534 24.1215 14.0347 23.5402 14.0347 22.8277V21.3465C14.0347 20.634 13.4534 20.0527 12.7409 20.0527H10.9316C10.2191 20.0527 9.63781 20.634 9.63781 21.3465V22.8277C9.62843 23.5402 10.2097 24.1215 10.9316 24.1215ZM11.0347 21.4496H12.6284V22.7152H11.0347V21.4496V21.4496Z" fill="#5F696D" />
                                                <path d="M6.66562 20.0439H4.85625C4.14375 20.0439 3.5625 20.6252 3.5625 21.3377V22.8189C3.5625 23.5314 4.14375 24.1127 4.85625 24.1127H6.66562C7.37812 24.1127 7.95937 23.5314 7.95937 22.8189V21.3377C7.96875 20.6252 7.3875 20.0439 6.66562 20.0439ZM6.5625 22.7158H4.96875V21.4502H6.5625V22.7158Z" fill="#5F696D" />
                                                <path d="M10.9316 29.4652H12.7409C13.4534 29.4652 14.0347 28.884 14.0347 28.1715V26.6902C14.0347 25.9777 13.4534 25.3965 12.7409 25.3965H10.9316C10.2191 25.3965 9.63781 25.9777 9.63781 26.6902V28.1715C9.62843 28.884 10.2097 29.4652 10.9316 29.4652ZM11.0347 26.7934H12.6284V28.059H11.0347V26.7934V26.7934Z" fill="#5F696D" />
                                                <path d="M6.66562 25.3877H4.85625C4.14375 25.3877 3.5625 25.9689 3.5625 26.6814V28.1627C3.5625 28.8752 4.14375 29.4564 4.85625 29.4564H6.66562C7.37812 29.4564 7.95937 28.8752 7.95937 28.1627V26.6814C7.96875 25.9689 7.3875 25.3877 6.66562 25.3877ZM6.5625 28.0596H4.96875V26.7939H6.5625V28.0596Z" fill="#5F696D" />
                                                <path d="M12.7408 30.7217H10.9314C10.2189 30.7217 9.6377 31.3029 9.6377 32.0154V33.4967C9.6377 34.2092 10.2189 34.7904 10.9314 34.7904H12.7408C13.4533 34.7904 14.0346 34.2092 14.0346 33.4967V32.0154C14.0346 31.3123 13.4533 30.7217 12.7408 30.7217ZM12.6283 33.4029H11.0346V32.1373H12.6283V33.4029Z" fill="#5F696D" />
                                                <path d="M6.66562 30.7217H4.85625C4.14375 30.7217 3.5625 31.3029 3.5625 32.0154V33.4967C3.5625 34.2092 4.14375 34.7904 4.85625 34.7904H6.66562C7.37812 34.7904 7.95937 34.2092 7.95937 33.4967V32.0154C7.96875 31.3123 7.3875 30.7217 6.66562 30.7217ZM6.5625 33.4029H4.96875V32.1373H6.5625V33.4029Z" fill="#5F696D" />
                                                <path d="M18.8155 30.7217H17.0062C16.2937 30.7217 15.7124 31.3029 15.7124 32.0154V33.4967C15.7124 34.2092 16.2937 34.7904 17.0062 34.7904H18.8155C19.528 34.7904 20.1093 34.2092 20.1093 33.4967V32.0154C20.1093 31.3123 19.528 30.7217 18.8155 30.7217ZM18.703 33.4029H17.1093V32.1373H18.703V33.4029Z" fill="#5F696D" />
                                                <path d="M47.1657 41.8781L46.0407 39.9094L46.7626 32.7094C47.1282 29.0625 45.6751 25.4719 42.872 23.1188L36.9563 18.1312L30.7876 7.33125C30.3938 6.64687 29.7657 6.15938 29.0063 5.95312C28.247 5.74687 27.4501 5.85 26.7657 6.23438L22.9313 8.42813V3.94687C22.9313 1.77187 21.1595 0 18.9845 0H4.6876C2.5126 0 0.740723 1.77187 0.740723 3.94687V33.8531C0.740723 35.8969 2.29697 37.575 4.28447 37.7812V45.8906C4.28447 46.2188 4.45322 46.5188 4.7251 46.6969C4.99697 46.875 5.34385 46.8938 5.63447 46.7531L7.17197 46.0219L9.15947 46.8844C9.28135 46.9406 9.40322 46.9594 9.53447 46.9594C9.66572 46.9594 9.79697 46.9313 9.92822 46.875L11.8313 46.0125L13.8095 46.875C14.0626 46.9875 14.3438 46.9781 14.597 46.8656L16.3782 46.0219L18.0376 46.7625C18.3282 46.8937 18.6657 46.8656 18.9376 46.6969C19.2095 46.5188 19.3688 46.2281 19.3688 45.9V37.7812C21.3563 37.575 22.9126 35.8969 22.9126 33.8531V31.5188L23.7751 33.0375C23.8688 33.2062 23.9813 33.3562 24.0938 33.4969L23.7938 35.0062C23.6626 35.6531 23.7938 36.3094 24.1595 36.8531C24.5251 37.3969 25.0782 37.7719 25.7251 37.9031C25.8845 37.9312 26.0532 37.95 26.2126 37.95C26.6907 37.95 27.1595 37.8094 27.572 37.5375C27.5813 37.5281 27.5813 37.5281 27.5907 37.5188C27.9376 38.0531 28.4907 38.4563 29.1657 38.5875C29.3251 38.6156 29.4845 38.6344 29.6438 38.6344C30.0563 38.6344 30.4501 38.5312 30.8063 38.3438C31.697 40.9688 33.272 43.3406 35.3907 45.1687L35.8876 45.6L37.0595 47.6531C37.1907 47.8781 37.4251 48.0094 37.6688 48.0094C37.7907 48.0094 37.9032 47.9813 38.0157 47.9156C38.3532 47.7188 38.4657 47.2969 38.2782 46.9594L37.0407 44.8031C37.0032 44.7375 36.947 44.6719 36.8907 44.6156L36.3095 44.1094C33.3751 41.5687 31.5845 37.8937 31.4063 34.0125L31.1626 28.7719C31.1438 28.4437 31.0501 28.1156 30.8907 27.825L28.4907 23.625C28.3126 23.3156 28.2657 22.9594 28.3595 22.6125C28.4532 22.2656 28.6782 21.9844 28.9876 21.8063C29.297 21.6281 29.6532 21.5812 30.0001 21.675C30.347 21.7687 30.6282 21.9937 30.8063 22.3031L34.0032 27.8906C34.0032 27.9 34.0126 27.9 34.0126 27.9094L35.5313 30.5719C35.6626 30.7969 35.897 30.9281 36.1407 30.9281C36.2626 30.9281 36.3751 30.9 36.4876 30.8344C36.8251 30.6375 36.9376 30.2156 36.7501 29.8781L36.3938 29.25L39.0376 27.7406C39.722 27.3469 40.2095 26.7187 40.4157 25.9594C40.622 25.2 40.5188 24.4031 40.1345 23.7188L38.9813 21.7031L41.9626 24.2156C44.4095 26.2781 45.6751 29.4094 45.3563 32.5969L44.6063 40.0219C44.5876 40.1719 44.6251 40.3125 44.7001 40.4437L45.9376 42.6094C46.0688 42.8344 46.3032 42.9656 46.547 42.9656C46.6688 42.9656 46.7813 42.9375 46.8938 42.8719C47.2407 42.6375 47.3532 42.2156 47.1657 41.8781ZM17.972 45.1875L16.772 44.6438C16.5188 44.5313 16.2282 44.5312 15.9751 44.6531L14.1845 45.4969L12.2063 44.6344C11.9626 44.5313 11.6813 44.5313 11.4376 44.6438L9.53447 45.5062L7.5376 44.6438C7.41572 44.5875 7.28447 44.5687 7.1626 44.5687C7.02197 44.5687 6.88135 44.5969 6.75947 44.6625L5.68135 45.1687V37.8H17.9626V45.1875H17.972ZM21.5157 33.8531C21.5157 35.25 20.3813 36.3938 18.9751 36.3938H4.6876C3.29072 36.3938 2.15635 35.25 2.15635 33.8531V3.94687C2.15635 2.55 3.29072 1.40625 4.6876 1.40625H18.9751C20.372 1.40625 21.5157 2.54062 21.5157 3.94687V9.23438L20.1095 10.0406V6.45C20.1095 5.82188 19.6032 5.31563 18.9751 5.31563H4.6876C4.05947 5.31563 3.55322 5.82188 3.55322 6.45V12.45V14.7656V16.5656C3.55322 17.1937 4.05947 17.7 4.6876 17.7H15.0095L18.2157 23.3063C18.2251 23.325 18.2345 23.3531 18.2438 23.3719L19.5282 25.6219C19.322 25.4812 19.0688 25.3969 18.797 25.3969H16.9876C16.2751 25.3969 15.6938 25.9781 15.6938 26.6906V28.1719C15.6938 28.8844 16.2751 29.4656 16.9876 29.4656H18.797C19.5095 29.4656 20.0907 28.8844 20.0907 28.1719V26.6906C20.0907 26.6625 20.0907 26.6344 20.0907 26.5969L21.5063 29.0625V33.8531H21.5157ZM14.2501 16.2844H4.96885V14.7562V6.72187H18.7032V10.8469L15.5345 12.6562C14.2501 13.3875 13.7251 14.9531 14.2501 16.2844ZM18.7032 26.7937V28.0594H17.1095V26.7937H18.7032ZM27.2532 35.6906C27.197 35.9625 27.0376 36.2062 26.8032 36.3562C26.5688 36.5156 26.2876 36.5719 26.0157 36.5156C25.7438 36.4594 25.5001 36.3 25.3501 36.0656C25.1907 35.8313 25.1345 35.55 25.1907 35.2781L25.3782 34.3594C25.4438 34.3781 25.5095 34.4063 25.5751 34.425C25.8282 34.4906 26.0907 34.5281 26.3532 34.5281C26.7563 34.5281 27.1595 34.4438 27.5345 34.275L27.2532 35.6906ZM30.0095 34.0687C30.0563 35.0344 30.1876 35.9813 30.4126 36.9094C30.1688 37.1531 29.8126 37.275 29.4563 37.2C28.8845 37.0875 28.5188 36.5344 28.6313 35.9625L29.147 33.3656L29.9532 32.9062L30.0095 34.0687ZM39.0657 25.5563C38.9532 25.95 38.7001 26.2875 38.3438 26.4938L35.7001 28.0031L34.8657 26.5406C34.8657 26.5313 34.8563 26.5312 34.8563 26.5219L32.0345 21.5906C31.6688 20.9531 31.0782 20.5031 30.3751 20.3063C29.672 20.1094 28.9313 20.2125 28.2938 20.5687C26.9813 21.3187 26.522 22.9969 27.272 24.3094L29.672 28.5094C29.7282 28.6031 29.7563 28.7156 29.7657 28.8281L29.8782 31.3313L27.1126 32.9156C26.7563 33.1219 26.3345 33.1781 25.9407 33.0656C25.547 32.9531 25.2095 32.7 25.0032 32.3438L20.0438 23.6719C20.0345 23.6531 20.0251 23.625 20.0063 23.6063L15.6563 15.9844C15.2345 15.2437 15.4876 14.2969 16.2282 13.875L27.4501 7.45312C27.8063 7.24687 28.2282 7.19063 28.622 7.30313C29.0157 7.41563 29.3532 7.66875 29.5595 8.025L38.9157 24.375C39.122 24.7406 39.1782 25.1625 39.0657 25.5563Z" fill="#5F696D" />
                                                <path d="M27.2441 11.8594C25.8566 11.4844 24.4128 11.6625 23.166 12.375C21.9191 13.0875 21.0285 14.2406 20.6535 15.6281C20.5503 16.0031 20.7753 16.3875 21.1503 16.4906C21.216 16.5094 21.2722 16.5188 21.3378 16.5188C21.6472 16.5188 21.9285 16.3125 22.0128 16.0031C22.2941 14.9813 22.9503 14.1281 23.8691 13.6031C24.7878 13.0781 25.8566 12.9375 26.8785 13.2188C27.2535 13.3219 27.6378 13.0969 27.741 12.7219C27.8441 12.3469 27.6191 11.9531 27.2441 11.8594Z" fill="#5F696D" />
                                                <path d="M26.1375 15.9284C26.5125 16.0316 26.8968 15.8066 27 15.4316C27.1031 15.0566 26.8781 14.6722 26.5031 14.569C25.8468 14.3909 25.1531 14.4753 24.5625 14.8128C23.9718 15.1503 23.5406 15.7034 23.3625 16.3597C23.2593 16.7347 23.4843 17.1191 23.8593 17.2222C23.925 17.2409 23.9812 17.2503 24.0468 17.2503C24.3562 17.2503 24.6375 17.0441 24.7218 16.7347C24.8062 16.4347 24.9937 16.1909 25.2656 16.0316C25.5281 15.8816 25.8375 15.8441 26.1375 15.9284Z" fill="#5F696D" />
                                                <path d="M26.8501 17.3997C26.6532 17.0622 26.2313 16.9497 25.8938 17.1372C25.5563 17.3341 25.4438 17.7559 25.6313 18.0934L25.8657 18.5059C25.997 18.7309 26.2313 18.8622 26.4751 18.8622C26.597 18.8622 26.7095 18.8341 26.822 18.7684C27.1595 18.5716 27.272 18.1497 27.0845 17.8122L26.8501 17.3997Z" fill="#5F696D" />
                                            </svg>
                                        </div>
                                        <div class="content-nav">
                                            STEP 2
                                            <h6>Select devices, extras and plan</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab3" data-toggle="tab" aria-controls="tab2" aria-selected="false">
                                        <div class="image-nav-tabs">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                                                <path d="M4.72718 47.2725H32.7999C34.8363 47.2725 36.509 45.5998 36.509 43.5634V9.96341C36.509 9.67251 36.3635 9.52705 36.2908 9.45432L27.709 0.945233C27.5635 0.799778 27.3454 0.727051 27.1999 0.727051H4.72718C2.69082 0.727051 1.09082 2.39978 1.09082 4.43614V43.5634C1.09082 45.5998 2.69082 47.2725 4.72718 47.2725ZM34.0363 9.23614H29.4545C28.6545 9.23614 27.9272 8.5816 27.9272 7.70887V3.19978L34.0363 9.23614ZM2.54537 4.43614C2.54537 3.19978 3.49082 2.1816 4.72718 2.1816H26.3999V7.70887C26.3999 9.30887 27.709 10.6907 29.3817 10.6907H35.0545V43.6361C35.0545 44.8725 34.0363 45.8907 32.7999 45.8907H4.72718C3.49082 45.8907 2.47264 44.8725 2.47264 43.6361V4.43614H2.54537Z" fill="#5F696D" />
                                                <path d="M16.2907 41.6723H31.3453C31.7816 41.6723 32.0726 41.3814 32.0726 40.9451C32.0726 40.5087 31.7816 40.2178 31.3453 40.2178H16.2907C15.8544 40.2178 15.5635 40.5087 15.5635 40.9451C15.5635 41.3087 15.9271 41.6723 16.2907 41.6723Z" fill="#5F696D" />
                                                <path d="M16.2907 37.8178H31.3453C31.7816 37.8178 32.0726 37.5269 32.0726 37.0906C32.0726 36.6542 31.7816 36.3633 31.3453 36.3633H16.2907C15.8544 36.3633 15.5635 36.6542 15.5635 37.0906C15.5635 37.5269 15.9271 37.8178 16.2907 37.8178Z" fill="#5F696D" />
                                                <path d="M16.2907 31.6362H31.3453C31.7816 31.6362 32.0726 31.3453 32.0726 30.9089C32.0726 30.4726 31.7816 30.1816 31.3453 30.1816H16.2907C15.8544 30.1816 15.5635 30.4726 15.5635 30.9089C15.5635 31.2726 15.9271 31.6362 16.2907 31.6362Z" fill="#5F696D" />
                                                <path d="M16.2907 27.854H31.3453C31.7816 27.854 32.0726 27.5631 32.0726 27.1267C32.0726 26.6903 31.7816 26.3994 31.3453 26.3994H16.2907C15.8544 26.3994 15.5635 26.6903 15.5635 27.1267C15.5635 27.5631 15.9271 27.854 16.2907 27.854Z" fill="#5F696D" />
                                                <path d="M16.2907 21.6001H31.3453C31.7816 21.6001 32.0726 21.3091 32.0726 20.8728C32.0726 20.4364 31.7816 20.1455 31.3453 20.1455H16.2907C15.8544 20.1455 15.5635 20.4364 15.5635 20.8728C15.5635 21.2364 15.9271 21.6001 16.2907 21.6001Z" fill="#5F696D" />
                                                <path d="M16.2907 17.8178H31.3453C31.7816 17.8178 32.0726 17.5269 32.0726 17.0906C32.0726 16.6542 31.7816 16.3633 31.3453 16.3633H16.2907C15.8544 16.3633 15.5635 16.6542 15.5635 17.0906C15.5635 17.4542 15.9271 17.8178 16.2907 17.8178Z" fill="#5F696D" />
                                                <path d="M16.2907 11.5639H23.9998C24.4362 11.5639 24.7271 11.273 24.7271 10.8366C24.7271 10.4003 24.4362 10.1094 23.9998 10.1094H16.2907C15.8544 10.1094 15.5635 10.4003 15.5635 10.8366C15.5635 11.273 15.9271 11.5639 16.2907 11.5639Z" fill="#5F696D" />
                                                <path d="M16.2907 7.78169H23.9998C24.4362 7.78169 24.7271 7.49078 24.7271 7.05442C24.7271 6.61806 24.4362 6.32715 23.9998 6.32715H16.2907C15.8544 6.32715 15.5635 6.61806 15.5635 7.05442C15.5635 7.41806 15.9271 7.78169 16.2907 7.78169Z" fill="#5F696D" />
                                                <path d="M7.34552 12.7272H11.7819C12.8001 12.7272 13.6001 11.9272 13.6001 10.9091V7.05451C13.6001 6.03633 12.8001 5.23633 11.7819 5.23633H7.34552C6.32734 5.23633 5.52734 6.03633 5.52734 7.05451V10.9091C5.52734 11.8545 6.32734 12.7272 7.34552 12.7272ZM6.98189 7.05451C6.98189 6.83633 7.12734 6.69087 7.34552 6.69087H11.7819C12.0001 6.69087 12.1455 6.83633 12.1455 7.05451V10.9091C12.1455 11.1272 12.0001 11.2727 11.7819 11.2727H7.34552C7.12734 11.2727 6.98189 11.1272 6.98189 10.9091V7.05451Z" fill="#5F696D" />
                                                <path d="M7.34552 22.7634H11.7819C12.8001 22.7634 13.6001 21.9634 13.6001 20.9452V17.0906C13.6001 16.0725 12.8001 15.2725 11.7819 15.2725H7.34552C6.32734 15.2725 5.52734 16.0725 5.52734 17.0906V20.9452C5.52734 21.8906 6.32734 22.7634 7.34552 22.7634ZM6.98189 17.0179C6.98189 16.7997 7.12734 16.6543 7.34552 16.6543H11.7819C12.0001 16.6543 12.1455 16.7997 12.1455 17.0179V20.8725C12.1455 21.0906 12.0001 21.2361 11.7819 21.2361H7.34552C7.12734 21.2361 6.98189 21.0906 6.98189 20.8725V17.0179Z" fill="#5F696D" />
                                                <path d="M7.34552 32.7268H11.7819C12.8001 32.7268 13.6001 31.9268 13.6001 30.9086V27.054C13.6001 26.0358 12.8001 25.2358 11.7819 25.2358H7.34552C6.32734 25.2358 5.52734 26.0358 5.52734 27.054V30.9086C5.52734 31.9268 6.32734 32.7268 7.34552 32.7268ZM6.98189 27.054C6.98189 26.8358 7.12734 26.6904 7.34552 26.6904H11.7819C12.0001 26.6904 12.1455 26.8358 12.1455 27.054V30.9086C12.1455 31.1268 12.0001 31.2722 11.7819 31.2722H7.34552C7.12734 31.2722 6.98189 31.1268 6.98189 30.9086V27.054Z" fill="#5F696D" />
                                                <path d="M7.34552 42.7639H11.7819C12.8001 42.7639 13.6001 41.9639 13.6001 40.9457V37.0911C13.6001 36.073 12.8001 35.2729 11.7819 35.2729H7.34552C6.32734 35.2729 5.52734 36.073 5.52734 37.0911V40.9457C5.52734 41.9639 6.32734 42.7639 7.34552 42.7639ZM6.98189 37.0911C6.98189 36.873 7.12734 36.7275 7.34552 36.7275H11.7819C12.0001 36.7275 12.1455 36.873 12.1455 37.0911V40.9457C12.1455 41.1639 12.0001 41.3093 11.7819 41.3093H7.34552C7.12734 41.3093 6.98189 41.1639 6.98189 40.9457V37.0911Z" fill="#5F696D" />
                                                <path d="M8.65449 20.1456C8.9454 20.4365 9.38177 20.4365 9.67268 20.1456L10.9818 18.8365C11.2727 18.5456 11.2727 18.1092 10.9818 17.8183C10.6909 17.5274 10.2545 17.5274 9.96358 17.8183L9.16358 18.6183L9.09086 18.5456C8.79995 18.2546 8.36358 18.2546 8.07267 18.5456C7.78176 18.8365 7.78176 19.2728 8.07267 19.5637L8.65449 20.1456Z" fill="#5F696D" />
                                                <path d="M8.65449 40.2178C8.9454 40.5087 9.38177 40.5087 9.67268 40.2178L10.9818 38.9087C11.2727 38.6178 11.2727 38.1815 10.9818 37.8905C10.6909 37.5996 10.2545 37.5996 9.96358 37.8905L9.16358 38.6905L9.09086 38.6178C8.79995 38.3269 8.36358 38.3269 8.07267 38.6178C7.78176 38.9087 7.78176 39.3451 8.07267 39.636L8.65449 40.2178Z" fill="#5F696D" />
                                                <path d="M41.0182 47.2722H44.7273C45.9637 47.2722 46.9091 46.254 46.9091 45.0903C46.9091 39.1267 46.9091 27.9267 46.9091 21.9631C46.9091 21.5994 46.7637 21.5994 44.1455 16.5812C43.8546 16.0722 43.4182 15.7812 42.8364 15.7812C42.2546 15.7812 41.8182 16.0722 41.5273 16.5812C38.9091 21.5994 38.7637 21.5994 38.7637 21.9631V45.0903C38.8364 46.254 39.8546 47.2722 41.0182 47.2722ZM45.4546 40.9449H40.2909V22.6903H45.4546V40.9449ZM45.4546 45.0903C45.4546 45.5267 45.0909 45.8176 44.7273 45.8176H41.0182C40.5819 45.8176 40.2909 45.454 40.2909 45.0903V42.3994H45.4546V45.0903ZM42.9091 17.2358L45.0182 21.2358H40.8L42.9091 17.2358Z" fill="#5F696D" />
                                            </svg>
                                        </div>
                                        <div class="content-nav">
                                            STEP 3
                                            <h6>Fill  our questionnaire</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab4" data-toggle="tab" aria-controls="tab2" aria-selected="false">
                                        <div class="image-nav-tabs">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                                                <g clip-path="url(#clip0_798_4897)">
                                                    <path d="M7.18433 43.2001H9.58447V45.5999C9.58447 46.9255 10.6589 48 11.9846 48H40.7845C42.1099 48 43.1843 46.9255 43.1843 45.5999V7.20007C43.1843 5.87439 42.1099 4.79993 40.7845 4.79993H38.3844V2.40015C38.3844 1.07446 37.3099 0 35.9846 0H13.5846C13.5677 0 13.5524 0.00878906 13.5355 0.00952144C13.4645 0.0142822 13.3942 0.0281982 13.3268 0.0512695C13.3019 0.0600586 13.2781 0.0662842 13.2539 0.0776367C13.1664 0.116089 13.0865 0.170288 13.0188 0.237671L5.01892 8.23755C4.9519 8.30566 4.89771 8.38513 4.85889 8.47192C4.84753 8.49683 4.84131 8.52173 4.83252 8.54736C4.80945 8.61365 4.79553 8.68286 4.7915 8.75281C4.7915 8.77039 4.78125 8.78577 4.78125 8.80334V40.7999C4.78125 41.4371 5.03467 42.048 5.48547 42.498C5.93628 42.9485 6.54749 43.2008 7.18433 43.2001ZM40.7845 6.3999C41.2262 6.3999 41.5844 6.75806 41.5844 7.20007V45.5999C41.5844 46.0419 41.2262 46.4 40.7845 46.4H11.9846C11.5426 46.4 11.1844 46.0419 11.1844 45.5999V43.2001H35.9846C37.3099 43.2001 38.3844 42.1256 38.3844 40.7999V6.3999H40.7845ZM36.7844 2.40015V40.7999C36.7844 41.2419 36.4263 41.6001 35.9846 41.6001H7.18433C6.74268 41.6001 6.38452 41.2419 6.38452 40.7999V9.59985H11.9846C13.3099 9.59985 14.3844 8.52539 14.3844 7.20007V1.59998H35.9846C36.4263 1.59998 36.7844 1.95813 36.7844 2.40015ZM12.7844 2.7312V7.20007C12.7844 7.64172 12.4263 7.99988 11.9846 7.99988H7.51575L12.7844 2.7312Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3843 13.6001C9.94263 13.6001 9.58447 13.9583 9.58447 14.4003C9.58447 14.8419 9.94263 15.2001 10.3843 15.2001H32.7843C33.2263 15.2001 33.5845 14.8419 33.5845 14.4003C33.5845 13.9583 33.2263 13.6001 32.7843 13.6001H10.3843Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7843 29.6001H10.3843C9.94263 29.6001 9.58447 29.9583 9.58447 30.3999C9.58447 30.8419 9.94263 31.2001 10.3843 31.2001H32.7843C33.2263 31.2001 33.5845 30.8419 33.5845 30.3999C33.5845 29.9583 33.2263 29.6001 32.7843 29.6001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7843 17.6001H28.7845C28.3425 17.6001 27.9844 17.9583 27.9844 18.3999C27.9844 18.8419 28.3425 19.2001 28.7845 19.2001H32.7843C33.2263 19.2001 33.5845 18.8419 33.5845 18.3999C33.5845 17.9583 33.2263 17.6001 32.7843 17.6001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5846 18.3999C25.5846 17.9583 25.2264 17.6001 24.7844 17.6001H10.3843C9.94263 17.6001 9.58447 17.9583 9.58447 18.3999C9.58447 18.8419 9.94263 19.2001 10.3843 19.2001H24.7844C25.2264 19.2001 25.5846 18.8419 25.5846 18.3999Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9847 33.6001H19.1846C18.7429 33.6001 18.3848 33.9583 18.3848 34.4003C18.3848 34.8419 18.7429 35.2001 19.1846 35.2001H19.9847C20.4264 35.2001 20.7845 34.8419 20.7845 34.4003C20.7845 33.9583 20.4264 33.6001 19.9847 33.6001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1846 33.6001H10.3843C9.94263 33.6001 9.58447 33.9583 9.58447 34.4003C9.58447 34.8419 9.94263 35.2001 10.3843 35.2001H15.1846C15.6262 35.2001 15.9844 34.8419 15.9844 34.4003C15.9844 33.9583 15.6262 33.6001 15.1846 33.6001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3843 23.2001H14.3844C14.8264 23.2001 15.1846 22.8419 15.1846 22.4003C15.1846 21.9583 14.8264 21.6001 14.3844 21.6001H10.3843C9.94263 21.6001 9.58447 21.9583 9.58447 22.4003C9.58447 22.8419 9.94263 23.2001 10.3843 23.2001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7844 21.6001H18.3846C17.9426 21.6001 17.5845 21.9583 17.5845 22.4003C17.5845 22.8419 17.9426 23.2001 18.3846 23.2001H32.7844C33.2264 23.2001 33.5846 22.8419 33.5846 22.4003C33.5846 21.9583 33.2264 21.6001 32.7844 21.6001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3843 27.2001H12.7844C13.2264 27.2001 13.5846 26.8419 13.5846 26.4003C13.5846 25.9583 13.2264 25.6001 12.7844 25.6001H10.3843C9.94263 25.6001 9.58447 25.9583 9.58447 26.4003C9.58447 26.8419 9.94263 27.2001 10.3843 27.2001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7845 27.2001H26.3844C26.8264 27.2001 27.1846 26.8419 27.1846 26.4003C27.1846 25.9583 26.8264 25.6001 26.3844 25.6001H16.7845C16.3425 25.6001 15.9844 25.9583 15.9844 26.4003C15.9844 26.8419 16.3425 27.2001 16.7845 27.2001Z" fill="#5F696D" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.7844 25.6001H30.3846C29.9426 25.6001 29.5845 25.9583 29.5845 26.4003C29.5845 26.8419 29.9426 27.2001 30.3846 27.2001H32.7844C33.2264 27.2001 33.5846 26.8419 33.5846 26.4003C33.5846 25.9583 33.2264 25.6001 32.7844 25.6001Z" fill="#5F696D" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_798_4897">
                                                        <rect width="48" height="48" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="content-nav">
                                            STEP 4
                                            <h6>Upload menu and documentation</h6>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab5" data-toggle="tab" aria-controls="tab2" aria-selected="false">
                                        <div class="image-nav-tabs">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                                                <path d="M47.9438 22.8379C47.85 22.3504 47.6344 21.891 47.3156 21.516C42.1219 15.2441 43.3313 16.7066 41.3719 14.3441C40.8 13.6598 39.9656 13.2566 39.0656 13.2566H34.8H34.1531H33.3281C33.1969 13.2566 33.0656 13.266 32.9438 13.2941V8.68164C32.9438 7.78164 32.2125 7.04102 31.3031 7.04102H4.14375H1.64063C0.73125 7.04102 0 7.77227 0 8.68164V33.0004C0 34.9316 1.56563 36.4973 3.49688 36.4973H7.03125C7.34063 39.0754 9.53438 40.9691 12.0656 40.9691C14.6531 40.9691 16.8094 39.0379 17.1188 36.4973H22.5938H35.0344C35.2313 38.1379 36.2063 39.5816 37.6875 40.3691C38.4469 40.7723 39.2625 40.9691 40.0688 40.9691C42.6656 40.9691 44.8125 39.0285 45.1219 36.4973H45.6C46.9219 36.4973 47.9906 35.4285 47.9906 34.1066C48 22.4535 48.0188 23.241 47.9438 22.8379ZM15.75 35.8879C15.75 37.4816 14.7188 38.9254 13.1438 39.4035C10.7813 40.116 8.4 38.3535 8.4 35.8879C8.38125 31.4254 14.8125 30.9285 15.6563 35.091C15.7594 35.5223 15.75 35.8879 15.75 35.8879ZM31.5469 35.091H21.4219H17.0906C16.2 29.4285 7.95 29.391 7.05938 35.091H3.49688C2.34375 35.091 1.40625 34.1535 1.40625 33.0004V32.9441H3.15C3.66563 32.9441 4.15313 32.7473 4.51875 32.3816C5.72813 31.1629 4.86563 29.0816 3.15 29.0816H1.40625V27.8254H31.5469V35.091ZM1.40625 31.5379V30.4785H3.15C3.61875 30.4785 3.85313 31.0504 3.525 31.3785C3.32813 31.5848 3.29063 31.5379 1.40625 31.5379ZM31.5469 26.4004H1.40625V8.68164C1.40625 8.55039 1.50938 8.44727 1.64063 8.44727H5.57813H31.3125C31.4438 8.44727 31.5469 8.55039 31.5469 8.68164V26.4004ZM42.0094 17.3066L46.1156 22.266H37.4531C37.2281 22.266 37.05 22.0504 37.05 21.7785V17.8035C37.05 17.5316 37.2375 17.316 37.4531 17.316H42.0094V17.3066ZM43.7531 35.8879C43.7531 37.4348 42.7594 38.916 41.1469 39.4035C38.0063 40.3598 35.3063 37.0223 36.8344 34.1629C38.6156 30.816 43.7531 32.0441 43.7531 35.8879ZM46.5938 34.1066C46.5938 34.6504 46.1531 35.091 45.6094 35.091H45.0938C44.8406 33.5066 43.8469 32.1379 42.4688 31.4066C39.3938 29.766 35.5969 31.6598 35.0625 35.091C34.1531 35.091 34.0313 35.091 32.9531 35.091V27.1129V27.1035V15.0379C32.9531 14.8316 33.1219 14.6535 33.3375 14.6535H34.1625H34.8094H39.075C39.5438 14.6535 39.9938 14.8598 40.2938 15.2254L40.8563 15.9004H37.4531C36.45 15.9004 35.6438 16.7535 35.6438 17.7941V21.7691C35.6438 22.8191 36.4594 23.6629 37.4531 23.6629H46.5938V34.1066Z" fill="#5F696D" />
                                                <path d="M12.0751 38.7002C13.9782 38.7002 15.3095 36.8533 14.7751 35.0814C13.9876 32.3908 10.1626 32.3908 9.36574 35.0814C8.84074 36.8721 10.1814 38.7002 12.0751 38.7002ZM10.9032 35.0908C11.4657 34.2658 12.6751 34.2658 13.2376 35.0908C13.8845 36.0377 13.1907 37.3033 12.0657 37.3033C10.9407 37.2939 10.2657 36.0283 10.9032 35.0908Z" fill="#5F696D" />
                                                <path d="M37.3781 35.0908C36.8531 36.8627 38.1749 38.7096 40.0781 38.7096C41.6343 38.7096 42.8999 37.4346 42.8999 35.8877C42.8999 32.6158 38.2781 32.0064 37.3781 35.0908ZM41.3531 36.4971C41.1281 36.9752 40.6406 37.3033 40.0781 37.3033C38.9531 37.3033 38.2687 36.0283 38.9062 35.0908C39.1593 34.7158 39.5906 34.4721 40.0781 34.4721C41.1281 34.4721 41.8031 35.5689 41.3531 36.4971Z" fill="#5F696D" />
                                                <path d="M38.747 26.25C39.1313 26.25 39.4501 25.9312 39.4501 25.5469C39.4501 25.1625 39.1313 24.8438 38.747 24.8438H36.4126C36.0282 24.8438 35.7095 25.1625 35.7095 25.5469C35.7095 25.9312 36.0282 26.25 36.4126 26.25H38.747Z" fill="#5F696D" />
                                            </svg>
                                        </div>
                                        <div class="content-nav">
                                            STEP 5
                                            <h6>Charge and shipping info</h6>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Company information</h4>
                                                <p>Please fill in the basic information about company.</p>
                                            </div>
                                            <div class="nav-tabs-form">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Company name</label>
                                                            <input type="text" placeholder="Enter Company Name" value="MyPlate restaurant">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Company name</label>
                                                            <select class="form-control">
                                                                <option value="selected">Select business type</option>
                                                                <option value="1"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Contact information</h4>
                                                <p>Please fill in the basic contact information.</p>
                                            </div>
                                            <div class="nav-tabs-form">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Contact name</label>
                                                            <input type="text" placeholder="Contact name" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Phone number</label>
                                                            <input type="text" placeholder="Enter phone number" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Email</label>
                                                            <input type="text" placeholder="Enter email" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Adress information</h4>
                                                <p>Please fill in the address information.</p>
                                            </div>
                                            <div class="nav-tabs-form">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Address</label>
                                                            <input type="text" placeholder="Enter Address" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>City</label>
                                                            <input type="text" placeholder="Enter City" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>State</label>
                                                            <select class="form-control">
                                                                <option value="selected">Select State</option>
                                                                <option value="1"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Zip/Postal code</label>
                                                            <input type="text" placeholder="Enter Zip/Postal code" value="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                        <div class="custom-control-nav-tabs">
                                                            <label>Country</label>
                                                            <select class="form-control">
                                                                <option value="selected">Select Country</option>
                                                                <option value="1"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-controlls">
                                        <button class="btn btn-disabled btnexit control-buton">Exit</button>
                                        <div class="f-end-position">
                                            <button class="btn btn-success btnNext control-buton">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Select devices</h4>
                                                <p>Please select devices you would like to buy.</p>
                                            </div>
                                            <div class="product-content">
                                                <ul class="product-listing">
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-1.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li class="selected">
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-2.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-3.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-4.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-5.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Select plan</h4>
                                                <p>Please select  plan that works best for you.</p>
                                            </div>
                                            <div class="product-content">
                                                <ul class="product-listing-1">
                                                    <li>
                                                        <div class="content-packages">
                                                            <h6 class="p-name">Lite</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                            <h3>$ 4.95</h3>
                                                            <h6>WHAT YOU GET?</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar, nibh ut posuere sodales, est arcu placerat sapien, id tempus enim tortor at magna.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content-packages">
                                                            <h6 class="p-name">POS Lite</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                            <h3>$ 4.95</h3>
                                                            <h6>WHAT YOU GET?</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar, nibh ut posuere sodales, est arcu placerat sapien, id tempus enim tortor at magna.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content-packages">
                                                            <h6 class="p-name">QSR</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                            <h3>$ 4.95</h3>
                                                            <h6>WHAT YOU GET?</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar, nibh ut posuere sodales, est arcu placerat sapien, id tempus enim tortor at magna.</p>
                                                        </div>
                                                    </li>
                                                    <li class="selected">
                                                        <div class="content-packages">
                                                            <h6 class="p-name">Full</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                            <h3>$ 4.95</h3>
                                                            <h6>WHAT YOU GET?</h6>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar, nibh ut posuere sodales, est arcu placerat sapien, id tempus enim tortor at magna.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Select devices</h4>
                                                <p>Please select devices you would like to buy.</p>
                                            </div>
                                            <div class="product-content">
                                                <ul class="product-listing-12">
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-11.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li class="selected">
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-22.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-33.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-44.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="image-product">
                                                            <img src="./assets/image/p-55.png" alt="product-image" class="img-fluid">
                                                        </div>
                                                        <div class="product-info">
                                                            <p class="product-name">PAX A60</p>
                                                            <a href="#">See details</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-controlls">
                                        <button class="btn btn-disabled btnexit control-buton">Exit</button>
                                        <div class="f-end-position">
                                            <button class="btn btn-disabled btnPrevious control-buton">Previous</button>
                                            <button class="btn btn-success btnNext control-buton">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Select devices</h4>
                                                <p>Please select devices you would like to buy.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number unstyled">
                                                        <li>1.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number">
                                                        <li>2.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number">
                                                        <li>3.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number">
                                                        <li>4.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number">
                                                        <li>5.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number">
                                                        <li>6.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number">
                                                        <li>7.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card shadow  border-0 p-3 custom-questionaries">
                                                <div class="tab-question">
                                                    <ol class="question-number">
                                                        <li>8.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia vulputate fermentum?</li>
                                                    </ol>
                                                </div>
                                                <div class="tab-answer">
                                                    <ul>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ultrices ipsum vitae dui porta tincidunt</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Quisque ut enim et sem venenatis molestie. Ut in risus at nibh convallis porttitor.</span></div>
                                                        </li>
                                                        <li>
                                                            <div class="custom-radio"><input type="radio" value="" id="" class="custom-checkbox"><span>Fusce non pharetra eros, quis egestas arcu. Quisque vel dui vel lacus suscipit viverra. Ut semper odio vel massa sagittis, id rutrum neque tristique.</span></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-controlls">
                                        <button class="btn btn-disabled btnexit control-buton">Exit</button>
                                        <div class="f-end-position">
                                            <button class="btn btn-disabled btnPrevious control-buton">Previous</button>
                                            <button class="btn btn-success btnNext control-buton">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                                    <div class="nav-tabs-heading my-4 position-relative pl-4">
                                        <h4>Upload menu</h4>
                                        <p>Please upload menu here.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="upload-menu-section">
                                                <div class="img-text-nav-tabs">
                                                    <img src="./assets/image/add-copy.svg">
                                                    <p>Click here to upload menu.</p>
                                                </div>
                                                <input type="file" value="" id="upload-menu">
                                                <label class="out-put-section">
                                                    <div class="image-iconss">
                                                        <img src="./assets/image/menu-upload.svg">
                                                    </div>
                                                    <div class="upload-menu-content">
                                                        <p>Your Menu</p>
                                                        <span></span>
                                                        <i class="fa fa-times remove"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-tabs-heading my-4 position-relative pl-4">
                                        <h4>Upload Document</h4>
                                        <p>Upload your var sheets or parameters page.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="upload-menu-section">
                                                <div class="img-text-nav-tabs">
                                                    <img src="./assets/image/add-copy.svg">
                                                    <p>Click here to upload documents.</p>
                                                </div>
                                                <input type="file" value="" id="upload-menu-1">
                                                <label class="out-put-section">
                                                    <div class="image-iconss">
                                                        <img src="./assets/image/documents-nv.svg">
                                                    </div>
                                                    <div class="upload-menu-content">
                                                        <p>Your Document</p>
                                                        <span></span>
                                                        <i class="fa fa-times remove-1"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-controlls">
                                        <button class="btn btn-disabled btnexit control-buton">Exit</button>
                                        <div class="f-end-position">
                                            <button class="btn btn-disabled btnPrevious control-buton">Previous</button>
                                            <button class="btn btn-success btnNext control-buton">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Payment details</h4>
                                                <p>Plase enter here payment details.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Billing Frequency:</label>
                                                <span class="value-nav-tabs">One time fee</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Price Per Unit:</label>
                                                <span class="value-nav-tabs">$139.00</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Billing Frequency:</label>
                                                <select class="form-control">
                                                    <option value="selected">Select Billing Frequency</option>
                                                    <option value="1">One time fee</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="nav-tabs-heading my-4 position-relative pl-4">
                                                <h4>Shipping details</h4>
                                                <p>Please fill in the shipping details.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Shipping method:</label>
                                                <span class="value-nav-tabs">Expedited</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Shipping cost:</label>
                                                <span class="value-nav-tabs">$15.00</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Shipping bill to:</label>
                                                <select class="form-control">
                                                    <option value="selected">Select Shipping bill</option>
                                                    <option value="1">Customer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">

                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Ship to attention emaill:</label>
                                                <input type="text" value="" placeholder="Enter attention email">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="custom-control-nav-tabs">
                                                <label>Shipping address:</label>
                                                <select class="form-control">
                                                    <option value="selected">Select Shipping address</option>
                                                    <option value="1">Mailing address</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-tabs-form">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                <div class="custom-control-nav-tabs">
                                                    <label>Street address:</label>
                                                    <input type="text" placeholder="Enter Street address:" value="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                <div class="custom-control-nav-tabs">
                                                    <label>City</label>
                                                    <input type="text" placeholder="Enter City" value="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                <div class="custom-control-nav-tabs">
                                                    <label>State</label>
                                                    <select class="form-control">
                                                        <option value="selected">Select State</option>
                                                        <option value="1"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                <div class="custom-control-nav-tabs">
                                                    <label>Zip/Postal code</label>
                                                    <input type="text" placeholder="Enter Zip/Postal code" value="">
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                <div class="custom-control-nav-tabs">
                                                    <label>Country</label>
                                                    <select class="form-control">
                                                        <option value="selected">Select Country</option>
                                                        <option value="1"></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                                <div class="custom-control-nav-tabs">
                                                    <label>Phone:</label>
                                                    <input type="number" value="" placeholder="(786) 451-5544">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-controlls">
                                        <button class="btn btn-disabled btnexit control-buton">Exit</button>
                                        <div class="f-end-position">
                                            <button class="btn btn-disabled btnPrevious control-buton">Previous</button>
                                            <button class="btn btn-success btnNext control-buton last-buttton-child">Next</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab6" role="tabpanel" aria-labelledby="tab6">
                                    <div class="nav-tabs-heading my-4 position-relative pl-4">
                                        <h4>Upload menu</h4>
                                        <p>Please upload menu here.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="upload-menu-section">
                                                <div class="img-text-nav-tabs">
                                                    <img src="./assets/image/add-copy.svg">
                                                    <p>Click here to upload menu.</p>
                                                </div>
                                                <input type="file" value="" id="upload-menu">
                                                <label class="out-put-section">
                                                    <div class="image-iconss">
                                                        <img src="./assets/image/menu-upload.svg">
                                                    </div>
                                                    <div class="upload-menu-content">
                                                        <p>Your Menu</p>
                                                        <span></span>
                                                        <i class="fa fa-times remove"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-tabs-heading my-4 position-relative pl-4">
                                        <h4>Upload Document</h4>
                                        <p>Upload your var sheets or parameters page.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="upload-menu-section">
                                                <div class="img-text-nav-tabs">
                                                    <img src="./assets/image/add-copy.svg">
                                                    <p>Click here to upload documents.</p>
                                                </div>
                                                <input type="file" value="" id="upload-menu-1">
                                                <label class="out-put-section">
                                                    <div class="image-iconss">
                                                        <img src="./assets/image/documents-nv.svg">
                                                    </div>
                                                    <div class="upload-menu-content">
                                                        <p>Your Document</p>
                                                        <span></span>
                                                        <i class="fa fa-times remove-1"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-controlls">
                                        <button class="btn btn-disabled btnexit control-buton">Exit</button>
                                        <div class="f-end-position">
                                            <button class="btn btn-disabled btnPrevious control-buton">Previous</button>
                                            <button class="btn btn-success btnNext control-buton">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('ul#myTab li a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var href = $(e.target).attr('href');
                var $curr = $("ul#myTab  a[href='" + href + "']").parent();

                $('ul#myTab li').removeClass();
                $curr.addClass("active");
                $curr.prevAll().addClass("visited");

            });
        });
    </script>
    <script>
        $('.btnNext').click(function () {
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

        $('.btnPrevious').click(function () {
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });
    </script>
    <script>
        $('ul.product-listing li').click(function () {
            $('ul.product-listing li.selected').removeClass('selected');
            $(this).addClass('selected');
        });

    </script>
    <script>
        $('ul.product-listing-1 li').click(function () {
            $('ul.product-listing-1 li.selected').removeClass('selected');
            $(this).addClass('selected');
        });
    </script>
    <script>
        $('ul.product-listing-12 li').click(function () {
            $('ul.product-listing-12 li.selected').removeClass('selected');
            $(this).addClass('selected');
        });
    </script>
    <script>
        $('document').ready(function () {

            var $file = $('#upload-menu'),
                $label = $file.next('label'),
                $labelText = $label.find('span'),
                $labelRemove = $('i.remove'),
                labelDefault = $labelText.text();

            // on file change
            $file.on('change', function (event) {
                $("#upload-menu").closest(".upload-menu-section").addClass("uploaded");
                var fileName = $file.val().split('\\').pop();
                if (fileName) {
                    console.log($file)
                    $labelText.text(fileName);
                    $labelRemove.show();
                } else {
                    $labelText.text(labelDefault);
                    $labelRemove.hide();
                }
            });

            // Remove file
            $labelRemove.on('click', function (event) {
                $("#upload-menu").closest(".upload-menu-section").removeClass("uploaded");
                $file.val("");
                $labelText.text(labelDefault);
                $labelRemove.hide();
                console.log($file)
            });
        })
    </script>
    <script>
        $('document').ready(function () {

            var $file = $('#upload-menu-1'),
                $label = $file.next('label'),
                $labelText = $label.find('span'),
                $labelRemove = $('i.remove-1'),
                labelDefault = $labelText.text();

            // on file change
            $file.on('change', function (event) {
                $("#upload-menu-1").closest(".upload-menu-section").addClass("uploaded");
                var fileName = $file.val().split('\\').pop();
                if (fileName) {
                    console.log($file)
                    $labelText.text(fileName);
                    $labelRemove.show();
                } else {
                    $labelText.text(labelDefault);
                    $labelRemove.hide();
                }
            });

            // Remove file
            $labelRemove.on('click', function (event) {
                $("#upload-menu-1").closest(".upload-menu-section").removeClass("uploaded");
                $file.val("");
                $labelText.text(labelDefault);
                $labelRemove.hide();
                console.log($file)
            });
        })
    </script>
</body>
</html>